*{
    margin: 0px;
    padding: 0px;

}
body{
    position: fixed;
    width: 1000px;
}

video  {
    position: fixed;
    right:0px;
    bottom:0px;
    min-width: 100%;
    min-height: 100%;
    height: auto;
    width: auto;
    z-index: -1;

}

source{
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    height: auto;
    width: auto;
}

.cover{
    display:none;
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    z-index:-1;
    background-color:#000;
    opacity:0.3;
}

.mini_login{
    display:none;
    position:absolute;
    z-index:2;
    margin-left: 50%;
}
.mini_login .item{
    width:320px;
    margin:0 auto;
    height:48px;
    line-height:48px;
    padding:0 20px;
}
.header-top{
    width: 1240px;
    height: 70px;
    margin: 0 auto;
    position: relative;
    /*color: white;*/
    margin-top: 15px;
}

.index-logo{
    width: 164px;
    height: 31px;
    display: block;
    position: absolute;
    left: 0px;
    top:22px;
    font-family: "Adobe Caslon Pro Bold";
    color:whitesmoke;


}


.dropdown-menu {
    position: absolute;
    right: 0;
    z-index: 1000;
}
.main_content .container{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.input_sty input{
    width: 500px;
    height: 40px;
}
.input_sty {
    display: inline-block;
    margin-right:-25px;
    z-index: 1;
}
.main_content{
    position:fixed;
    margin:auto;
    left:0;
    right:0;
    top:0;
    bottom:0;
}
/*字体设置透明度用rgba*/
.footer_style{
    text-align: center;
    color: rgba(255,255,255,0.4);

}
.login_close{
    color: white;
    font-size: 20px;

}
.login_reg_btn{
    padding-top: 10px;
}


